{% extends 'base.html' %}
{% load staticfiles %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="columns large-4 large-offset-4 signup_box signup_box">
       <div class="signup-panel">

<h1>{% trans "Time For Good" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Log in to your {{ site_name }} account using {% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">    
<li>
  <img src="{% static 'img/fb.png' %}"></img><br>
  <a title="Facebook" class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login">Facebook</a>
</li>
<li>
  <img src="{% static 'img/ln.png' %}"></img><br>
  <a title="LinkedIn" class="socialaccount_provider linkedin" href="/accounts/linkedin/login/?process=login">LinkedIn</a>
</li>
</ul>
  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login signup columns large-10 large-offset-1" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
  <button class="primaryAction button" type="submit">{% trans "Sign In" %}</button>
</form>
<br>
 <p class="already">{% blocktrans %}Dont have an account? Then please <br><a href="{{ signup_url }}" >Sign Up</a>.{% endblocktrans %}</p>
</div>

</div>
{% endblock %}