{% extends 'base.html' %}
{% load staticfiles %}


{% load i18n %}

{% block head_title %}{% trans "Create Account" %}{% endblock %}
{% block content %}
<div class="columns large-4 large-offset-4 signup_box signup_box">


    	 <div class="signup-panel">
<h1>{% trans "Create Account" %}</h1>


<form class="signup signup columns large-10 large-offset-1" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" id="signup_input"/>
  {% endif %}
  <button type="submit" class="button">{% trans "Sign Up" %} &raquo;</button>
</form> <br>
<p>{% blocktrans %}Already have an account? Then please <br><a href="{{ login_url }}">Log In</a>.{% endblocktrans %}</p>

 </div>

</div>
{% endblock %}