{% extends 'base.html' %}

{% load staticfiles %}
{% block extended_head %}
<link rel="stylesheet" href="{% static 'css/skills.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="columns large-5 large-offset-3 volunter_form">
<!--<div class="column small-centered text-center" style="width:500px;padding:0;background-color:rgba(255, 255, 255, 0.33);top: 50%;transform: translateY(-50%);position: relative;padding-top:10px;padding-bottom:10px;">-->
	<h4>Where can you help?</h4>
<form method="POST" action="" enctype="multipart/form-data" autocomplete='off'>
		{% csrf_token %}
		<p>
		<label>Location: </label>
		{{ form.location }}
		</p>
		<p>
		<label>Distance away(in km): </label>
		{{ form.distance_away }}
		</p>
		<p>
		{{ form.coordinates }}
		</p>

		<input type="submit" class="button text-center" value="Next">
	</form>
	<div>
	<!--Nearby Locations-->
	<ul>
	{% for x in other_places %}
	<li>{{ x.city }}</li>
	{% endfor %}
	</ul>
	</div>
	</div>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.livequery.js' %}"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyD0MSmH6-nAgxIeJhO_SBiNjrbKyPHhQ9k"></script>
<!--</div>-->
{% endblock %}