{% extends 'base.html' %}

{% load staticfiles %}
{% block extended_head %}
<link rel="stylesheet" href="{% static 'css/skills.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="column small-5 small-centered  skills_form">
    <h4>Select Your Skills</h4>
    <form method="GET" action="" class="column small-12">
        <input type="text" placeholder="Search for skills..." name="q" class="column" style="width:70%; margin: 1%;" id="blog-search" value="{{ request.GET.q }}">
        <input type="submit" class="column skill button"  style="width:20%; margin: 1%;  padding: 1%;">
    </form>
    <form method="POST" action="" enctype="multipart/form-data" autocomplete='off' class="checkbox">
		{% csrf_token %}
		{{ form.as_p }}

		<input type="submit" class="button" value="Next">
	</form>
	<form method="POST" action="" enctype="multipart/form-data" autocomplete='off'>
		{% csrf_token %}
		<h4>Create New Skills</h4>
		{{ singleskill.as_p }}

		<input type="submit" class="button" value="Add New Skill">
	</form>
</div>


{% endblock %}