body{
       background-image: url('http://www.timeslive.co.za/incoming/2012/08/17/black_and_white_hands.jpg/ALTERNATES/crop_630x400/black_and_white_hands.jpg');
       background-repeat:no-repeat;
       background-size:100% 100%;
}
/* SignUp style*/
.signup_box{
    background-color: rgba(255, 255, 255, 0.33);
    margin-top: 7%;
    text-align: center;
    border: .01em solid beige;
    border-radius: .2em;
}
.signup-panel h1{
    text-align: center;
}
.signup p input{
    border-bottom: .1em solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    background: none;
    
}

.signup label{
    display:none;
}
.button{
    background: #000;
}

.signup-panel p a{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}
/* login style*/

.socialaccount_providers li {
        width: 50%;
    float: left;
    text-align: center;
    list-style: none;
}
.socialaccount_providers li:nth-child(1){
        border-right: .1em solid #000;
}
.socialaccount_providers li img{
    width: 25%;
}
.socialaccount_providers li a{
    color: #000;
}
.login  label[for=id_remember]{
    display: block;
    text-align: right;
    width: 55%;
    float: left;
}
#id_remember{
    float: left;
    width: 33%;
    margin-top: 1.5%;
}
.login-or{
    font-weight: bold;
    margin: 1%;
    width: 100%;
    font-size: 1.3em;
}
.secondaryAction{
    color:#fff;
}

.already{
        width: 100%;
    clear: both;
}