{% extends 'base.html' %}
{% load staticfiles %}
{% block extended_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/skills.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="form create"  >
    <form class = "input" method="POST" action="" style="max-height:100vh;">{% csrf_token %}
    <div class="column small-6">
       <p><label>Image: </label>{{ form.image }}</p>
        <p><label>Title: </label>{{ form.title }}</p>
        <p><label>Description: </label>{{ form.description }}</p>
        <p><label>Starting Date: </label>{{ form.starting_date }}</p>
        <p><label>Stopping Date: </label>{{ form.stopping_date }}</p>
        <p><label>Hours Required: </label>{{ form.hours_required }}</p>
        
    
    </div>
    <div class="column small-6">
        <p><label>Location: </label>{{ form.location }}</p>
        <p>{{ form.coordinates }}</p>
        <p><label>Required Skills: </label>{{ form.skills }}</p>
        <input type="submit" value="Create Opportunity" class="button" save />
    </div>
        
    </form>
</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.livequery.js' %}"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyD0MSmH6-nAgxIeJhO_SBiNjrbKyPHhQ9k"></script>
{% endblock %}
