   {% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="introduction">
   <div class="wrapper">
    <h1>Time For Good</h1>
    <p>We connect volunteers with opportunities across organizations and communities</p>
    <p>Join to offer or to look for best volunteering experience</p>
    <br>
    <a href="/accounts/login/">Get Started+</a>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div> 
</div>
 
{% endblock content %}