{% extends 'base.html' %}
{% load staticfiles %}


     {% block content %}
<div class="container_profile">
  <div class="avatar-flip">
    <img src="http://www.twcdi.ie/images/avatars/default_set/default-avatar.png" height="150" width="150">
    <img src="http://s2.favim.com/orig/28/imagine-separate-with-comma-text-typo-typography-Favim.com-231151.gif" height="150" width="150">
  </div>
  <h2>John Doe</h2>
  <p><a class="button profile_links" href="/browseOpprtunity/">Request Help</a></p>
  <p><a class="button profile_links" href="">Recent Activities</a></p>
  <p><a class="button profile_links" href="">Community</a></p>
</div>
{% endblock %}